APP_ENV=production
DATABASE_URL=<MY_SUPABASE_CONNECTION_STRING>
SECRET_KEY=<MY_SECRET_KEY>
ADMIN_EMAIL=<ADMIN_EMAIL>
ADMIN_PASSWORD=<ADMIN_PASSWORD>
ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_ALGORITHM=HS256
CORS_ORIGINS=<FRONTEND_ORIGIN>
HACKATHON_NAME=<HACKATHON_NAME>
HACKATHON_TAGLINE=<HACKATHON_TAGLINE>
HACKATHON_WHATSAPP_URL=<HACKATHON_WHATSAPP_URL>
HACKATHON_START_AT=<HACKATHON_START_AT>
HACKATHON_END_AT=<HACKATHON_END_AT>
HACKATHON_VENUE=<HACKATHON_VENUE>
HACKATHON_MODE=<HACKATHON_MODE>
HACKATHON_FEE=<HACKATHON_FEE>
HACKATHON_PRIZE_POOL=<HACKATHON_PRIZE_POOL>
HACKATHON_SPONSORED_BY=<HACKATHON_SPONSORED_BY>
HACKATHON_HOST=<HACKATHON_HOST>
